.growth-input{
  align-content: center;
  margin: 10%;
  
  .inputs{
    margin-left: 5%;
  }
}

.chart{
  margin: 10%;
}

.header{
  text-align: center;
  min-height: 10%;
  background-color: rgb(255, 99, 132);
}